<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" data-semver="1.0.7"></script>
    <script src="http://code.angularjs.org/1.0.7/angular-resource.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>
<body>
<div ng-controller="ResourceCtrl">
    <ul>
        <li ng-repeat=" user in users">
            {{user.userName +":" + user.userEmail}}
        </li>
    </ul>

    <div class="addUser">
        <label>UserName:</label>
        <input type="text" ng-model="userName">
        <label>E-mail:</label>
        <input type="text" ng-model="userEmail">
        <button type="button" ng-click="addUserToStore()">Save user</button>
    </div>
</div>
</body>
</html>