<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/angular.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="UserCtrl">
        <div class="addUser">
            <label>UserName:</label>
            <input type="text" ng-model="userName">
            <label>E-mail:</label>
            <input type="text" ng-model="userEmail">
             <button type="button" ng-click="addUserToStore()">Save user</button>
        </div>
        <div>
            <ul>
                <li ng-repeat="user in users">
                    {{user.userName + ":"+ user.userEmail}}
                </li>
            </ul>
        </div>
    </div>
</body>
</html>